body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #959B8F;
}

header, main, footer {
    max-width: 760pt;
    margin:0 auto;
}

header, footer {   
    padding: 0.5rem;
    background-color: #C7D5BB;
}

header {
    border-top-left-radius : 25px;
    border-top-right-radius : 25px;
}

footer {
    text-align: center;
    border-bottom-left-radius : 25px;
    border-bottom-right-radius : 25px;
}

main {
    padding: 0.5rem;
    background-color: #F5F7F3;
    margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
}

main section {
	margin: 0.5rem;
    background-color: #E0E7DA ;
    padding: 20px;
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
    font-family: 'Antonio', sans-serif;
    padding: 0.5rem;
}

h2 { 
    font-family: 'Antonio', sans-serif;
    background-color: #78955F;
    padding: 0.5rem;
    margin: -20px;
    color: #F5F7F3;
}

h3 {
    margin-top: 30px;
}

a, #lastmod {
    color: #6C3E37;
    font-weight: 900;
}