html, body {
    height: 100%;
    width: 100%;

  }

body {
	display: flex;
    margin: 20px auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}


table {
    border-collapse: collapse;
    text-align: center;
    box-shadow: 10px 10px 10px #628ca6;
    width: 100%;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #E7FFED;
}

tr:nth-child(even) {
    background-color: #E7F0ED;
}

thead th, tfoot th {
    background-color: #7FB9C2;
}

tbody th, #novp {
    background-color: #628CA6;
    color: #FFFFFF;
}

thead th {
    font-size: 30px;
    font-weight: bold;
}

tbody th {
    font-size: 20px;
    font-weight: bold;
}

tfoot th {
    font-size: 12px;
    font-weight: normal;
}

@media (max-width: 767px) {

    body {
        display: block;
        margin: auto;
    }

    table {
        margin: 0px auto;
        width: fit-content;
        box-shadow: none;
    }

    tbody th {
        display: none;
    }

    caption, td {
        padding: 12px;
    }
    
    table, tr, td, th, thead {
        display: grid;
    }

    table tr {
        display: block;
    }

    table td {
        border-bottom: none;
        display: block;
        font-size: 20px;
        text-align: right;
        font-weight: 400;
    }

    table tbody tr:nth-child(5) td::before {
        font-style: normal;
    }

    table tbody td:last-child {
        border-bottom: 1px solid rgb(191, 190, 190);
    }

    table tbody td:nth-of-type(1):before {
        content: 'Period';
    }

    table tbody td:nth-of-type(2):before {
        content: 'Sales';
    }

    table tbody td:nth-of-type(3):before {
        content: 'Sales Goal';
    }

    table td::before {
        float: left;
    }

    tfoot td {
        font-size: 18px;
        text-align: center;
    }

    tfoot tr {
        margin: 0px;
    }
}
