@media only screen and (min-width: 35em) {
    .headercontent {
        display: grid;
        grid-template-columns: 150px auto;
    }

    .hctext  {
        padding-top: 3em;
    }

    .headercontent h1 {
        font-size: 2.5rem;
    }
    .logo {
        width: 150px;
        height: auto;
    }

    nav ul li a {
        border: none;
        padding: .7rem 1rem;
    }

    .links li:first-child {
        display: none;
    }
    
    .links {
		display: flex;
	}
	.links li {
		display: block; 
		flex: 1 1 auto;
	}

	.links a {
		text-align: center;
	}

    .pagecontent {
        margin: 5px;
    }

    .weatherbox {
        position:absolute;
        top: 3rem;
        left: 10px;
        background: radial-gradient(#F5F7F3, #637C92);
        padding: 2rem;
        opacity: 0.8;
    }

     .contact {
        display: grid;
        grid-template-columns: 400px auto;
    }
    .contactinfo {
        margin-left: 40px;
    }

    .forecast {
        width: 628px;
        
    }

    #content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin: 40px 20px 40px;
    }

}