body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F7F3	;
}

header, footer {   
    padding: 0.5rem;
    background-color: #293354;
    color: #F5F7F3 ;
}

.logo {
	width: 100px;
	height: auto;
}

    img {
    width: 100%;
}

header {
    display: flex;
    justify-content: left;
}

.headercontent {
    display: grid;
    grid-template-columns: 100px auto;
}
  
.hctext {
    padding-top: 1.5em;
}

.headercontent h1 {
	font-size: 1.6rem;
    letter-spacing: 1pt;
	margin: 0 0 0 17px;
    font-family: 'Trirong', serif;
}

.headercontent p {
        font-style: italic;
        font-family: 'Trirong', serif;
        margin: 0 0 0 17px;
        font-size: .9rem;
}

nav ul {
    background-color: #F5F7F3;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: black;
}

.links li:first-child {
    display: block;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.links li {
    display: none;
    margin: auto;
}

.responsive li {
    display: block;
}

.menu {
    border: none;
    background-color: #F5F7F3;
}

.menu:hover {
    cursor: pointer;
}

.active {
    background-color: #D7D9D3;
}

nav ul li a:hover {
    background-color: #E1E3DE;
}

h2, h3 {
    font-family: 'Antonio', sans-serif;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.content {
    padding: 1em;
    margin: 5px;
    display: block;
}

.content h3 a {
    text-decoration: none;
}

.links:after {
    content:"";
    display: table;
    clear: both;
}

.bottom {
    text-align: center;
}

.bottom a {
    color: #F5F7F3;
}



.table_forecast {
    width: 300px;
    margin: 0 auto;
    border-spacing: 0;
    border: 1px solid rgb(197, 197, 197);
    margin-bottom: 20px;
}

.day {
    text-align: center;
    background: #9EB5DC;
    color: white;
    font-size: 1em;
    padding: 5px;
}

.temperature {
    font-weight: 300;
    text-align: center;
    padding-bottom: 5px;
}

