body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F7F3	;
}

header {   
    padding: 0.5rem;
    background-color: #293354;
    color: #F5F7F3 ;
}

.logo {
	width: 100px;
	height: auto;
}

img {
    width: 100%;
}

header {
    display: flex;
    justify-content: left;
}

.headercontent {
    display: grid;
    grid-template-columns: 100px auto;
}
  
.hctext {
    padding-top: 1.5em;
}

.headercontent h1 {
	font-size: 1.6rem;
    letter-spacing: 1pt;
	margin: 0 0 0 17px;
    font-family: 'Trirong', serif;
}

.headercontent p {
        font-style: italic;
        font-family: 'Trirong', serif;
        margin: 0 0 0 17px;
        font-size: .9rem;
}

nav ul {
    background-color: #F5F7F3;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: black;
}

.links li:first-child {
    display: block;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.links li {
    display: none;
    margin: auto;
}

.responsive li {
    display: block;
}

.menu {
    border: none;
    background-color: #F5F7F3;
}

.menu:hover {
    cursor: pointer;
}

.active {
    background-color: #D7D9D3;
}

nav ul li a:hover {
    background-color: #E1E3DE;
}

h1, h2 {
    font-family: 'Antonio', sans-serif;
}

h2 {
    font-size: 25px;
}


main {
    padding: 1em;
    margin: auto;
    display: block;
}

main h2 a {
    text-decoration: none;
}

.links:after {
    content:"";
    display: table;
    clear: both;
}

/* Preston/Fish Haven/Soda Sprins Pages */
.pancakes {
    text-align: center;
}
.hero {
    position: relative;
    margin: 10px auto;
}
  
.pic{
     max-width: 100%; 
}
  
.weatherbox {
    background: radial-gradient(rgba(245, 247, 243, 0.8), rgba(99, 124, 146, .8));
    padding: 1rem;
}

.weatherbox h3 {
    font-size: 16px;
}

.hero p {
    margin: 0;
    font-size: 16px;
}

.fdforecast, .article {
    margin-top: 40px;
}

.fdforecast h2, .article h2 {
    padding: 1rem;
}

.fdforecast {
    margin-bottom: 40px;
    padding-bottom: 60px;
}

.forecast {
    margin: 0 auto;
    border-spacing: 0;
    box-shadow: 0 10px 12px 0 rgb(0, 0, 0, 0.6);

}

.day th, .temperature td  {
    text-align: center;
    font-size: 1em;
    padding: 10px;
    background: #343f63;
    color: #F5F7F3;
    margin: 10px;
}

.weather td {
    background: #c8d3dc;
}

.temperature td {
    font-weight: bold;
    text-decoration: underline;
}

.events {
    padding: 20px;
    background: #E1E3DE;
    text-align: center;
}

.text {
    padding: 40px;    
    box-shadow: 0 10px 12px 0 rgb(0, 0, 0, 0.6);
    background-color: #F5F7F3;
}

.article img {
    display: block;
    margin: 10px;
    width: 75%;
}
/* Preston Page End*/

/* General Footer Design*/
.tfooter {
    background-color: #CED7DE;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    margin-top: 15px;
    height:80%;
    width:100%;
    position:absolute;
    box-shadow: 0 0 50px rgb(55, 56, 58);

}

.contact {
    padding: 40px;
}

.contactinfo img {
    width: 4.5%;
}

.social img {
    width: 10%;
}

#bfooter {
    background-color: #293354;
}

.bottom {
    text-align: center;
    color: #F5F7F3;
    padding: 20px;
}

.bottom a {
    color: #F5F7F3;
}
/* General Footer Design End*/

/* Gallery and Home Page Towns */
img[data-src] {
    filter: blur(0.5em);
}
  
img {
    filter: blur(0em);
    transition: filter .5s;
}

figcaption {
    padding: 10px;
}

figure, #townCards section {
    padding: 10px;
    background-color: #F5F7F3;
    box-shadow: 0 10px 12px 0 rgb(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure {
    width: 80%;
}

.towns {
    background-color: #E1E3DE;
    padding: 20px;
}    

#townCards section:hover {
    box-shadow: 0 0 30px #333;

}

#townCards section {
    width: 90%;
    margin-bottom: 50px;
}

#townCards h2, #townCards h4, #townCards p {
    margin: 10px;
}
/* Gallery and Home Page Towns End*/

/* Storm Center*/
.stormcenter fieldset {
    margin: 50px 20px;
    background-color: #E1E3DE;
    border-radius: 15px;
    border: none;
    padding: 20px;
}

.stormcenter legend {
    background-color: #CED7DE;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 10px #333;
}

.stormcenter label { 
    display: block;
    padding: 5px;
}

.user input, .date input, .stormType input, .comments textarea, .location select, #rating{
    padding: 5px;
    display: block;
    margin: 10px;
    width: 90%;
}

#ratingvalue {
    font-weight: bold;
    font-size: 20px;
}

.submitButton {
    margin: 20px;
    padding: 10px;
    background-color:#293354;
    color: #F5F7F3	;
    font-size: 20px;
    width: 25%;
    border-radius: 15px;
}

.submitButton:hover {
    cursor: pointer;
    background-color:#384163;
}

.thankyouMessage {
    padding: 50px;
    text-align: center;
}
/* Storm Center End*/


/* Home Page Article*/
.homeArticle {
    padding: 30px;
    margin: 20px 0px;
}

.homeArticle img {
    float: left;
    width: 50%;
    margin: 20px 20px 20px 0px;
}
/* Home Page Article End*/

/* Home Wireframe */
.homeWireframe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}
