@media only screen and (min-width: 64em){
    header {
        display: grid;
        grid-template-columns: 200px auto;
    }
    .logo {
        width: 200px;
        height: auto;   
    }

    nav ul { 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-left: 0;
    }

    nav ul li a {
        padding: .6rem 1rem;
    }


    /*About*/
    .about, .weather, .events, .featuredbiz {
        padding: 3rem;
        margin: 0em;
    }
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about h1 {
        grid-row: 1;
        grid-column: 1/4;
    }
    .about p {
        text-align: justify;
        grid-column: 2/4;
    }

        /* Events */
    
        .feature {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
        }
    
        /* Footer */
    
        .contact {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
        }

         /* IMUS/ About additional edits */
        .about img {
            grid-row: 2/8;
        }

        .tourism {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 200px) ;
        }
        
        .tourcar {
            grid-column: 2;
            grid-row: 1/3;
        }

        .touraction {
            grid-row: 2/3;
        }

     /*Contact Page/ Directors*/
    .dcontent {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 1rem;
    }

    
    /* Contact Page Form*/

    .cform {
        width: 75%;
        max-width: 900px;
    }

    /*Join Page*/
    
    .jmlevel {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
 

}