@media only screen and (min-width: 35em) {
    /* Navigation */
    header {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .logo {
        width: auto;
        height: auto;
        padding: 0em 1em;
    }

    nav ul { 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-left: 0;
    }

    nav ul li a {
        border: none;
        padding: .6rem 1rem;
    }

    .links li:first-child {
        display: none;
    }
    
    .links {
		display: flex;
	}
	.links li {
		display: block; 
		flex: 1 1 auto;
	}

	.links a {
		text-align: center;
	}

    .active {
        background-color: #F5F5F5;  
    }

    .active a {
       /* text-decoration: underline solid #3561C0;*/
       text-decoration: none;
       border-bottom: 5px solid #203A71;
       color: #0A0A0A;
      }
    
    nav ul li a:hover {
        text-decoration: none;
        border-bottom: 5px solid #FFCD35;
        background-color: #F5F5F5;
    }

    /* Footer*/

    .contact {
        padding: 5em;
    }

    /*About*/
    .about, .weather, .events, .featuredbiz {
        padding: 3em;
        margin: 0em;
   }

    .about h1 {
        padding-left: 5rem;
    }
    .about p {
        text-align: justify;
        padding: 0rem 5rem;
    }

    /* IMUS/ Demographics */
    .demographics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .text {
        font-size: 15px;
    }

    /*Contact Page/ Directors*/

    .dlist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .dlist h1 {
        grid-column: 1/-1;
    }

    /* Contact Page Form*/
    .ccap p {
        display: inline ;
        margin: 0rem;
    }

    /*Join Page*/
    
    .jmlevel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .jfcontainer {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 2rem;
    }

      /* Directory Transform to Grid*/
      #dcontainer.grid {
        width: 35%;
    }

    #dcontainer { 
        width: auto;
    }



}