@media only screen and (min-width: 37.5em){

    nav ul {
        display: flex;
    }
    nav li {
        display:inline-block;
        
    }
    nav ul li {
        flex: 1 1 100%;
    }
    header, nav ,main, footer {
    
        margin: auto;
    }
    
}